.button_action {
  background-color: black;
  padding: 16px;
  color: white;
  position: relative ;
  margin-top: 32px;
  width: 100%;
  border-radius: 90px;
}

.root {
  padding: 32px;
  width:100%;
  min-width: 300px;
}

* {
  margin: auto;
  vertical-align: baseline;
}
