.button_action {
  background-color: black;
  padding: 16px;
  color: white;
  position: relative ;
  margin-top: 32px;
  width: 100%;
  border-radius: 90px;
}

.root {
  padding: 32px;
  width:100%;
  min-width: 300px;
}

* {
  margin: auto;
  vertical-align: baseline;
  padding: 0;
}

.description_value {
  margin-top: 42px;
  margin-bottom: 14px;
  font-weight: 500;
}

.cifrao-result {
  font-size: 38px;
  color: black;
  font-weight: bold;
  margin: auto;
  vertical-align: baseline;
}

.value-result {
  font-size: 38px;
  color: black;
  font-weight: 500;
  margin: auto;
  vertical-align: baseline;
}

.value-result-month {
  font-size: 32px;
  color: black;
  font-weight: 500;
  margin: auto;
  vertical-align: baseline;
}

.after-value-result {
  font-size: 18px;
  color: black;
  font-weight: 500;
  margin: auto;
  vertical-align: baseline;
}
