.button_action {
  background-color: black;
  padding: 16px;
  color: white;
  position: relative ;
  margin-top: 32px;
  width: 100%;
  border-radius: 90px;
  margin-bottom: 32px;
}

.description_value {
  margin-top: 42px;
  margin-bottom: 14px;
  font-weight: 500;
}

.cifrao-result {
  font-size: 38px;
  color: black;
  font-weight: bold;
  margin: auto;
  vertical-align: baseline;
}

.value-result {
  font-size: 38px;
  color: black;
  font-weight: 500;
  margin: auto;
  vertical-align: baseline;
}

.value-result-month {
  font-size: 32px;
  color: black;
  font-weight: 500;
  margin: auto;
  vertical-align: baseline;
}

.after-value-result {
  font-size: 18px;
  color: black;
  font-weight: 500;
  margin: auto;
  vertical-align: baseline;
}

.max-content {
  max-width: max-content;
  width: max-content;
  margin: 16px;
}

.expand-content {
  max-width: 100%;
  width: 100%;
  margin: 16px;
}

.scrool {
  white-space: nowrap;
  overflow-x: scroll;
  overflow: auto;
}

.header {
  margin-top: 16px;
  width: 300px;
  cursor: pointer;
}
