.title {
  font-size: 32px;
  margin-top: 64px;
}

.root {
  padding: 32px;
  width:100%;
}

* {
    margin: auto;
    vertical-align: baseline;
  }

.label_input {
  margin-bottom: 8px;
  margin-top: 16px;
}

.button_action {
  background-color: black;
  padding: 16px;
  color: white;
  position: relative ;
  margin-top: 32px;
  width: 100%;
  border-radius: 90px;
}

input {
  width: 100%;
  background-color: #F2F2F2;
  padding: 12px;
  border: 0;
  border-radius: 12px;
}
