<div class="root row">

  <h2 class="title">Simulador de <b>Investimentos</b></h2>

  <div>
    <p class="label_input">valor inicial</p>
    <input type="number" step="0.01">
  </div>

  <div>
    <p class="label_input">aporte mensal</p>
    <input type="number" step="0.01">
  </div>

  <div>
    <p class="label_input">data alvo</p>
    <input type="date">
  </div>

  <div class="col">
    <p class="label_input">taxa de juros</p>
    <input type="number" style="width: 50%;">

    <label class="switch" style="width: 50%;">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
  </div>

  <div style="width: 100%;">
    <button class="button_action">simular investimento</button>
  </div>


</div>

