<div class="container">
  <div class="row">

    <h2 class="title unselected">Simulador de <b>Investimentos</b></h2>

    <div>
      <p class="label_input money unselected">valor inicial</p>
      <input currencyMask [(ngModel)]="fixedService.model.initialValue" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
    </div>

    <div>
      <p class="label_input unselected">aporte mensal</p>
      <input currencyMask [(ngModel)]="fixedService.model.monthlyValue" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" />
    </div>

    <div class="row p-0 m-0">
      <p class="label_input unselected">tempo de investimento</p>
      <div class="col">
        <input type="number" [(ngModel)]="fixedService.model.dueDate" min="1" step="1" pattern="[0-9]" oninput="this.value=(parseInt(this.value)||0)">
      </div>
      <div class="col-5">
        <app-switch-context *ngIf="fixedService.model.dueDate!=1;else oneRepeat" nameOn="meses" nameOff="anos" [isOn]="fixedService.dueDateTypeByMonth()" (newItemEvent)="updateInvestmentTime($event)" />
      </div>

      <ng-template #oneRepeat>
        <app-switch-context nameOn="mês" nameOff="ano" [isOn]="fixedService.dueDateTypeByMonth()" (newItemEvent)="updateInvestmentTime($event)" />
      </ng-template>
    </div>

    <div class="row p-0 m-0" >
      <p class="label_input unselected">taxa de juros</p>
      <div class="col percentInput">
        <input type="number" [(ngModel)]="fixedService.model.taxValue">
        <span class="unselected">%</span>
      </div>
      <div class="col-5">
        <app-switch-context nameOn="mês" nameOff="ano" [isOn]="fixedService.taxesByMonth()" (newItemEvent)="updateTax($event)"></app-switch-context>
      </div>
      <p class="label_current_tax_selic unselected">taxa selic atual ({{fixedService.currentSelic}}%) ano</p>
    </div>

    <div style="width: 100%;">
      <button class="button_action unselected"(click)="simulateInvestment()">simular investimento</button>
    </div>


  </div>
</div>
